@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
inline-size: 60px;
block-size: 66px;
text-align: center;
vertical-align: middle;
font-size:40px;
}

.pri{
  color: rgb(84, 54, 14);
}
table, th, td {
  border:px solid rgb(39, 1, 1);  
  border-collapse: collapse;
padding: 12px;


}

.sub{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nvar{
position: relative;
}

.main-menu {
  position:relative;
background:#8d8a27;
border-inline-end:1px solid #e5e5e5;
position:absolute;
inset-block-start:0;
inset-block-end:0;
block-size:100%;
inset-inline-start:0;
inline-size:200px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
inline-size:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:rgb(255, 255, 255);
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
inline-size:60px;
block-size:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
inline-size:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
inset-inline-start:0;
inset-block-end:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#e8e820;
}

.trabajo {
  float: right;
  background: #ffffff;
  width: 81%;
  height: 94%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #5d5720;
  }
  
  
  a:visited {
    color: #373309;
  }
  
  a:focus {
    border-block-end: 1px solid;
    background: #c4cd1e;
    border-radius: 5px;
  }
  
  a:hover {
    border-block-end: 1px solid;
    background: #d5a229;
    border-radius: 5px;
  }
  
  a:active {
    background: #f0dc2f;
    color: #CDFEAA;
    border-radius: 5px;
  }

  html {
  min-block-size: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-block-end: 40px;
}
footer {
  background-color: rgb(168, 88, 88);
  position: absolute;
  inset-block-end: 0;
  inline-size: 100%;
  block-size: 40px;
  color: white;
}
.trabajo1 {
  float: inline-end;
  background: #ffffff;
  inline-size: 1070px;
  block-size: 550px;
  background: #fff;
  overflow: auto;
  }
  .trabajo1 {
    float: inline-end;
    background: #ffffff;
    inline-size: 1070px;
    block-size: 550px;
    background: #fff;
    overflow: auto;
    }