<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emvios</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/stilos.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   </head>
<body>
  




<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Open modal
</button>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid header">
            <div class="row">
                <div class="col-md-12">
    
                    
                    <form name="formulario" method="post" action="/send.php" enctype="multipart/form-data">
      
                        <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple />
                    </form>
        
                 </div>
        
            </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>




    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/prueba.js"></script>
</body>
</html>