<!DOCTYPE html>
<html lang="en">
<head>
  <title>Enviar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/MetroCDMX/css/bootstrap.min.css" rel="stylesheet">
  <script src="/MetroCDMX/js/bootstrap.bundle.min.js"></script>
</head>
<body>


  <div class="container mt-3">

<div class="card">
  <div class="card-header">
    <a href="/MetroCDMX//templates/home.html" class="btn btn-primary">regresar</a> Envio de Informacion
  </div>
  <div class="card-body">
    <h5 class="card-title">Selecciona y Envia</h5>
    
      <h2>Destino</h2>
      <p>Selecciona a quien quieres enviar </p>
    
      <div class="dropdown">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">
          Seleccionar
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">LINEA1</a></li>
          <li><a class="dropdown-item" href="#">LINEA2</a></li>
          <li><a class="dropdown-item" href="#">LINEA3</a></li>
          <li><a class="dropdown-item" href="#">LINEAB</a></li>
          <li><a class="dropdown-item" href="#">LINEA6</a></li>
          <li><a class="dropdown-item" href="#">LINEA7</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">solo texto</a></li>
        </ul>
      </div>
      <hr>
      <form name="formulario" method="post" action="/send.php" enctype="multipart/form-data">
        <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple />
      </form>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Escribe un comentario</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
  
    
    
    <p class="card-text">Pulsa el boton para enviar</p>
    <a href="#" class="btn btn-primary">Enviar</a>
  </div>
</div>



</body>
</html>